<h1>{{titulo}}</h1>

<ul>
    {{#each usuariosParaView}}
    <li>
        <h2>{{nome}}</h2>
        <p>{{descricao}}</p>
        <img src="{{imagem}}" alt="Imagem de {{nome}}" style="width: 150px; height: 150px;">
    </li>
    {{/each}}
</ul>